<article role="main" class="embedded clearfix">{{{article}}}</article>

<div id="tab-toc" class="hidden">{{{tabtoc}}}</div>

<nav class="ohc-pager hidden-print hidden">
	<ul class="pager">
		<li class="previous disabled">
			<a type="button" class="btn" aria-label="Previous">
				<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
			</a>
		</li>
        <li class="toc">
			<a type="button" class="btn" aria-label="Table of contents" href="toc.htm">
				<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
			</a>
		</li>
		<li class="next disabled">
			<a type="button" class="btn" aria-label="Next">
				<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
			</a>
		</li>
	</ul>
</nav>
